.wholebody {
  background-color: #212529;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  height: 100%;
}

/* ========= NAV BAR ============== */
.navbar-brand {
  margin: 0 0 0 18px;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* ========== MAIN BODY =========== */

/* quote style */
.quote {
  text-align: center;
  font-size: 100px;
  font-family: "Jura", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color: #f5f5f5;
  text-shadow: 5px 5px #212529;
  word-wrap: break-word;
}

.main-container {
  padding: 10% 1%;
  display: inline-block;
  width: 100%;
  background-image: url(../../images/combine\ pic1b.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* === FOOTER === */
#footer {
  padding: 5% 7%;
  background-color: #212529;
  color: #838587;
}

/* logo style */
.logo {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: black;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
  color: black;
}

/* ==== MEDIA QUERY ==== */
@media (max-width: 540px) {
  /* This will be shown if the screen width is at most 900px */
  .organize-quote {
    font-size: 90px;
  }
}

@media (max-width: 480px) {
  /* This will be shown if the screen width is at most 900px */
  .organize-quote {
    font-size: 60px;
  }
}
