/* master style*/
body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* nav style*/
.nav-wrapper {
  padding: 38px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.right {
  display: flex;
  height: 30px;
}

.nav-wrapper > .right > div {
  font-size: 25px;
  line-height: 96px;
  margin-right: 20px;
  border-bottom: 1px solid transparent;
  padding-bottom: 68px;
  transition: border-bottom 0.5s;
}

.right a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-wrapper > .right a:hover {
  color: black;
}

.nav-wrapper > .right > div:hover {
  border-bottom: 1px solid black;
}

/* quote style */
.quote {
  text-align: center;
  font-size: 100px;
  font-family: fantasy;
  text-transform: uppercase;
}

/* logo style */
#logo {
  border-radius: 38%;
  height: 157px;
  width: 223px;
}
