/* master style*/
body {
  background-color: #F5F5F5;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.navbar-brand {
  margin: 0 0 0 18px;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

#footer {
  padding: 5% 7%;
  background-color: #212529;
  color: #838587;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* nav style*/
.nav-wrapper {
  padding: 38px;
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  height: 30px;
}

.nav-wrapper > .right > div {
  font-size: 25px;
  line-height: 96px;
  margin-right: 20px;
  border-bottom: 1px solid transparent;
  padding-bottom: 68px;
  transition: border-bottom 0.5s;
}

.right a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-wrapper > .right a:hover {
  color: black;
}

.nav-wrapper > .right > div:hover {
  border-bottom: 1px solid black;
}

/* quote style */
.quote {
  height: 500px;
  text-align: center;
  font-size: 144px;
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  color: white;
  background-image: url("../images/steve-halama-UxmsLmapLu4-unsplash.jpg"),
    url("../images/combine pic1b.png"), url("../images/runningtrack1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, center, right;
}

/* logo style */
.logo {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: black;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
  color: black;
}

/*empty bottom space style*/
/*.bottom-space {
  background-color: rgb(9, 1, 31);
  height: 193px;
}*/
